POSTGRES_DB=flashmart
POSTGRES_USER=flashmart
POSTGRES_PASSWORD=replace-with-local-password

REDIS_PORT=6379
DATABASE_URL=postgresql://flashmart:replace-with-local-password@localhost:5432/flashmart?schema=public
RABBITMQ_DEFAULT_USER=flashmart
RABBITMQ_DEFAULT_PASS=replace-with-local-password